.main-app {
    text-align: center;
    margin: 100px;
}

.cta-button {
    padding: 15px;
    border: none;
    border-radius: 12px;
    min-width: 250px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.connect-wallet-button {
    background: rgb(32, 129, 226);
}

.approve-button {
    background: rgb(214, 30, 30);
}

.mint-nft-button {
    background: orange;
}

.withdraw-button {
    background: orange;
}

.input-box{
    width: 100%;
    height: 50px;
    border: aliceblue;
    border-radius: 12px;
    padding: 10px;
    font-size: 18px;
}

.balance-button {
    background: rgb(32, 129, 226);
}